<table>
  <tr>
    <td><h1><%= table.capitalize %></h1></td>
    <td>
      <% unless searchable_columns.empty? %>
        &nbsp;<a data-toggle="collapse" href="#search" class="icon-search"></a>
      <% end %>
    </td>
  </tr>
</table>

<table class="table table-striped table-bordered table-condensed">
  <thead>
    <tr>
      <% schema.each do |attr| %>
        <th><%= attr %></th>
      <% end %>
    </tr>
  </thead>
  <body>
    <% dataset.each do |record| %>
      <tr>
        <% schema.each do |attr| %>
          <td>
            <%= record[attr]%>
          </td>
        <% end %>
      </tr>
    <% end %>
  </body>
</table>


<%= will_paginate dataset %>
